<h1>Services#index</h1>

<ul>
  <% @services.each do |service| %>
    <li>
      <%= link_to service.name, service %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'Drinks', drinks_path %></p>
<p><%= link_to 'New Service', new_service_path %></p>
