<h1>IngredientTypes</h1>
<ul>
  <% @ingredient_types.each do |ingredient_type| %>
    <li>
      <a href="/ingredient_types/<%= ingredient_type.id %>">
        <%= ingredient_type.name %>
      </a>
    </li>
  <% end %>
</ul>
