<h1>Ingredient Types#index</h1>

<ul>
  <% @ingredient_types.each do |ingredient_type| %>
    <li>
      <%= link_to ingredient_type.name, ingredient_type %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'New Ingredient Type', new_ingredient_type_path %></p>
