<h1>Ingredient Types#show</h1>

<h2><%= @ingredient_type.name %></h2>

<ul>
  <li><%= link_to 'Edit', edit_ingredient_type_path(@ingredient_type) %></li>
  <li><%= link_to 'Destroy', ingredient_type_path(@ingredient_type), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
</ul>
