<h1>Drinkwares#index</h1>

<ul>
  <% @drinkwares.each do |drinkware| %>
    <li>
      <%= link_to drinkware.name, drinkware %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'New Drinkware', new_drinkware_path %></p>
