<h1>Drinks#index</h1>

<ul>
  <% @drinks.each do |drink| %>
    <li>
      <%= link_to drink.name, drink %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'New Drink', new_drink_path %></p>
<p><%= link_to 'Services', services_path %></p>
