<h1>Drinks#index</h1>
<p>Find me in app/views/drinks/index.html.erb</p>

<ul>
  <% @drinks.each do |drink| %>
    <li>
      <%= link_to drink.name, drink %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Drink', new_drink_path %>
