<h1>Ingredient Categories#index</h1>

<ul>
  <% @ingredient_categories.each do |ingredient_category| %>
    <li>
      <%= link_to ingredient_category.name, ingredient_category %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'New Ingredient Category', new_ingredient_category_path %></p>
