<h1>IngredientCategories</h1>
<ul>
  <% @ingredient_categories.each do |ingredient_category| %>
    <li>
      <%= link_to ingredient_category.name, ingredient_category %>
    </li>
  <% end %>
</ul>
